body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.purchase-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center; /* Alineación de todo el contenido al centro */
}
.purchase-container h1, .purchase-container h2, .purchase-container h3 {
    margin: 0 0 6px;
}
.purchase-container h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center; /* Alineación del título */
}
.purchase-container h2, .purchase-container h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center; /* Alineación de los subtítulos */
}
.purchase-container .input-field {
    display: flex;
    align-items: center;
    justify-content: center; /* Alineación de los campos al centro */
    margin-bottom: 6px;
    text-align: center; /* Alineación del texto dentro de los campos */
}
.purchase-container .input-field h3 {
    margin-right: 6px;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    text-align: right; /* Alineación del texto de los subtítulos */
    display: inline-block; /* Mostrar en línea para ajustar el espacio */
}
.purchase-container .input-field input, .purchase-container .input-field select {
    width: calc(100% - 106px);
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 12px;
}
.purchase-container hr {
    border: 1px solid #000;
    margin: 10px 0;
}
.purchase-container button {
    width: 100%;
    padding: 6px;
    background-color: #26ff00;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
}
.purchase-container button:hover {
    background-color: #05f921;
}